<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
    </head>
    <body>
        <h1> Choose a service to change.</h1>

        {% if obj == "Failed" %}
            <h2>You tried to change a service but failed.<br>Try it again </h2>
        {% endif %}
        {% if obj == "Success" %}
            <h2>The service is changed.<br>You can change a new service </h2>
        {% endif %}

        <div>
            {% if service != "None" %}
                {% for key in service %}
                    <ul>
                        <li>Location: {{key}}</li>
                        <ul>
                            {% for key1 in service[key] %}
                                <li> 
                                    {{key1}}
                                    <a href="/admin/changeService/{{service[key][key1]}}">Change</a>
                                    <a href="/admin/deleteService/{{service[key][key1]}}">Delete</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </ul>
                    
                {% endfor %}
            {% else %}
                <h3>There are no Services to show</h3>
            {% endif %}
        </div>
        <br>
        <div>
            <form action="/admin" method="get">
                <input type="submit" value = 'Main Admin'>
            </form>
        </div>
    </body>
</html>