<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1> Choose a Secretariat to change.</h1>

        {% if obj == "Failed" %}
            <h2>You tried to change a Secretariat but failed.<br>Try it again </h2>
        {% endif %}
        {% if obj == "Success" %}
            <h2>The Secretariat is changed.<br>You can change a new Secretariat </h2>
        {% endif %}

        <div>
            {% if secretariat != "None" %}
                {% for key in secretariat %}
                    <ul>
                        <li>Location: {{key}}</li>
                        <ul>
                            {% for key1 in secretariat[key] %}
                                <li> 
                                    {{key1}}
                                    <a href="/admin/changeSecretariat/{{secretariat[key][key1]}}">Change</a>
                                    <a href="/admin/deleteSecretariat/{{secretariat[key][key1]}}">Delete</a>
                                    <span class= 'showid' style="display: none;">{{secretariat[key][key1]}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </ul>
                {% endfor %}
                <button id="ID">Show ID</button>
            {% else %}
                <h3>There are no Secretariats to show</h3>
            {% endif %}
        </div>
        <br>
        <div>
            <form action="/admin" method="get">
                <input type="submit" value = 'Main Admin'>
            </form>
        </div>
        <script type="module">
            const x = document.getElementsByClassName("showid");
            const y = document.getElementById("ID");
            var z,i;
            $('#ID').click(function(){
                for( i = 0;i < x.length;i++)
                {
                    if (x[i].style.display === "none") {
                        x[i].style.display = "block";
                        z = 'block'
                    } else {
                        x[i].style.display = "none";
                        z = 'none'
                    }
                }
                if(z === 'block')
                {
                    y.textContent = 'Hide ID';
                } else{
                    y.textContent = 'Show ID';
                }
            });
        </script>
    </body>
</html>