<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>LOGS</h1>
        <div>
            <form action="/admin" method="get">
                <input type="submit" value = 'Main Admin'>
            </form>
        </div>
        <div>
            <h2>The logs are:</h2>
            {% for key in logs %}
                <ul>
                    <h4>Day {{key}} </h4>
                    {% for info in logs[key] %}
                        <li> {{info}} </li>
                    {% endfor %}
                </ul>
                
            {% endfor %}
        </div>
    </body>
</html>