<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
    </head>
    <body>

        <h1>Admin</h1>
        You can change the services or see the logs. <br>
        Also you can change the url of the microservices that this server is connect.

        <h2>Links</h2>
        <a href="/admin/createService">Create a Service</a>
        <a href="/admin/changeService">Change a Service</a>
        <a href="/admin/queryLogs"> Show the Logs</a>
        <a href="/admin/configFile"> Show the configuration file</a>
    </body>
</html>