<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Secret</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <h1>Secret</h1>

    <div>
        <h2>
            <b>Generated Secret</b>:
            <span id='SecretValue'>{{secret}}</span>
        </h2>
        <br>
        <input id="SecretText" placeholder="Secret Value" type="text">
        <button id="SecretButton">Search</button>
    </div>
    <div id="user">

    </div>

    <script type="module">
        const SecretText = document.getElementById('SecretText');
        const SecretValue = document.getElementById('SecretValue');
        const user = document.getElementById('user');
        var url = "http://127.0.0.1:5000/mobile/who";
        function getUser(){
            $.ajax({
                type: "get",
                data: {
                    secret: SecretValue.textContent
                },
                url: url,
                success: function (data) {
                    console.log(data);
                    var content = '<a>' + data['dataUser']['name'] + '</a><br><a>' + data['dataUser']['username'] + '</a><br><img src="data:;base64,' + data['dataUser']['photo'] + '"/>'; 
                    console.log(content);
                    $("#user").html(content);
                    $("#SecretValue").text(data['secret']);
                    getUser();
                }
            });
        }
        $.when(getUser).then(getUser);
        $("#SecretButton").click(function () {
            $.ajax({
                type: "post",
                data: {
                    secret: SecretText.value
                },
                url: url,
                success: function (data) {
                    var content = '<a>' + data['name'] + '</a><br><a>' + data['username'] + '</a><br><img src="data:;base64,' + data['photo'] + '"/>'; 
                    console.log(content);
                    $("#user").html(content);
                }
            });
        });
    </script>
</body>

</html>