<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Secret</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>

        <h1>Secret</h1>

        <div>
            <h2>
                <b>Generated Secret</b>:
                <span id='SecretValue'>None</span>
            </h2>
            <br>
            <input id="SecretText" value="Secret Value" type="text">
            <button id="SecretButton">Search</button>
        </div>
    </body>
</html>