<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% if obj == "Failed" %}
            <h2>You tried to submit a Secretariat but failed.<br>Try it again </h2>
        {% endif %}
        {% if obj == "Success" %}
            <h2>There are a new Secretariat.<br>You can submit a new Secretariat </h2>
        {% endif %}

        {% if change == False %}
        <h1> Add a new Secretariat</h1>
        <form action="/admin/addSecretariat" method="post">
        {% else %}
        <h1> Change the properties of the Secretariat</h1>
        <form action="/admin/changeSecretariat/{{ID}}" method="post">
        {% endif %}
    
            Name of the Secretariat:    <input type="text" name="name"><br>
            Location of the Secretariat:     <input type="text" name="location"><br>
            Description:    <input type="text" name="description"><br>
            Open time of the Secretariat:    <input type="text" name="openTime"><br>
            <input type="submit">
        </form>
        <br>
        <div>
            <form action="/admin" method="get">
                <input type="submit" value = 'Main Admin'>
            </form>
        </div>
    </body>
</html>