<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
    </head>
    <body>
        {% if obj == "Failed" %}
            <h2>You tried to submit a service but failed.<br>Try it again </h2>
        {% endif %}
        {% if obj == "Success" %}
            <h2>There are a new service.<br>You can submit a new service </h2>
        {% endif %}

        <h1> Add a new Services</h1>
            
        <form action="/admin/addService" method="post">

            Name of the Service:    <input type="text" name="name"><br>
            Location of the Service:     <input type="text" name="location"><br>
            Description:    <input type="text" name="description"><br>
            Open time of the Service:    <input type="text" name="openTime"><br>
            <input type="submit">
        </form>
        <br>
        <div>
            <form action="/admin" method="get">
                <input type="submit" value = 'Inicio'>
        </div>
    </body>
</html>